Checks: >
  *,
  -cppcoreguidelines-*,
  -modernize-*,
  -readability-identifier-naming,
  -google-*,
  -fuchsia-*,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-restrict-system-libc-headers,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-no-array-decay,
  -hicpp-exception-baseclass,
  -hicpp-avoid-goto,
  -cert-err58-cpp
FormatStyle: 'file'
HeaderFilterRegex: 'headers/*.h'
